<!-- 

<div class="speechtext">
    <div class="content">
              <div class="img-container">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="form-container">
                <div class="card-body">
                  <h3 class="header-text" (click)="naviagateToDash()">Student registration form</h3>
                  <div class="btn-container">
                        <div class="form-outline">
                            <button type="button" class="btn btn-primary btn-lg" (click)="startService()">Start Listening <i class="fas fa-arrow-alt-circle-right ms-2"></i> </button>
                        </div>
                        <div class="form-outline">
                            <button type="button" class="btn btn-warning btn-lg" (click)="stopService()">Stop Listening</button>
                        </div>
                    </div>
                    <div class="form-outline">
                        <label class="form-label" for="form3Example9">Name:</label>
                        <input type="text" id="form3Example9" class="form-control form-control-lg"  [value]="service.name" />
                      </div>
                  <div class="form-outline">
                    <label class="form-label" for="form3Example9">Subject:</label>
                    <input type="text" id="form3Example9" class="form-control form-control-lg" [value]="service.subject" />
                  </div>

                  <div class="form-outline">
                    <label class="form-label" for="form3Example99">Register Number:</label>
                    <input type="text" id="form3Example99" class="form-control form-control-lg" [value]="service.register"  />
                  </div>
  
                  <div class="submit-btn-container">
                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                    <a type="button" class="btn btn-warning btn-lg ms-2" routerLink="/test">Take Test</a>
                  </div>
  
                </div>
              </div>
            </div>
  </div> -->
